{% extends "layout.html" %}

{% block title %}
<title>Técnicas de simulación</title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <main class="main">
        <section class="section grid">
            <article class="section__article">
                <a href="{{url_for('mediamm')}}">
                    <h2>Módulo de <br>estadística</h2>
                    <p class="parrafo">
                        La estadística es la ciencia encargada de recolectar, analizar,
                        presentar e interpretar datos. A continuación puedes calcular la media,
                        mediana y moda mediante datos extraídos de un archivo de Excel.
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('cuadradosMedios')}}">
                    <h2>Método de los <br>cuadrados medios</h2>
                    <p class="parrafo">
                        Este procedimiento genera números pseudoaleatorios de cuatro dígitos
                        en donde se debe escoger un número como semilla y el número de 
                        interacciones que se desea que genere un número pseudoaleatorio.
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('congruencialLineal')}}">
                    <h2>Método congruencial<br> lineal</h2>
                    <p class="parrafo">
                        Este algoritmo se usa para obtener una secuencia de números pseudoaleatorios
                        calculados a partir de una función lineal en la que se requiere la utilización
                        de cinco variables.
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('congruencialMultiplicativo')}}">
                    <h2>Método congruencial<br> multiplicativo</h2>
                    <p class="parrafo">
                        Este algoritmo genera números pseudoaleatorios y tiene como base el uso del
                        algoritmo congruencial lineal, con la única diferencia que conlleva una operación menos.
                    </p>
                </a>
            </article>

            <article class="section__article">
                <a href="{{url_for('regresionLineal')}}">
                    <h2>Regresión<br> lineal</h2>
                    <p class="parrafo">
                        Esta función permite analizar la relación de dos variables. Puedes utilizar
                        el siguiente algoritmo subiendo un archivo de Excel con dos columnas que contengan valores, 
                        ya que serían las variables analizadas.
                    </p>
                </a>
            </article>

            <article class="section__article">
                <a href="{{url_for('regresionLinealCuadrada')}}">
                    <h2>Regresión<br> lineal cuadrática</h2>
                    <p class="parrafo">
                        Este modelo se utiliza cuando el modelo lineal no logra un coeficiente
                        de determinación apropiado, o cuando las diferentes variables analizadas
                        tiene un comportamiento considerado como parabólico. 
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('promedioMovil')}}">
                    <h2>Promedio<br> móvil</h2>
                    <p class="parrafo">
                        El promedio móvil es un indicador de tendencias que se usa para realizar análisis
                        de datos anteriores, con la finalidad de formar una serie de medidas que provengan de
                        diversos subconjuntos de datos.
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('suavizacionExponencial')}}">
                    <h2>Suavización<br> exponencial</h2>
                    <p class="parrafo">
                        La suavización exponencial es un método que utiliza un promedio ponderado de valores
                        de series de tiempo pasadas como pronóstico, es un caso especial del
                        método de promedios móviles ponderados.
                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('montecarlo')}}">
                    <h2>Simulación de <br>Montecarlo</h2>
                    <p class="parrafo">
                        La simulación de Montecarlo es una técnica que combina conceptos estadísticos a partir de una
                        distribución de probabilidad, mediante la cual permite realizar simulación matemática de los problemas.

                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('lineaEspera')}}">
                    <h2>Línea de<br>espera</h2>
                    <p class="parrafo">
                        El objetivo es encontrar el estado óptimo del sistema y determinar una capacidad de servicio apropiada,
                        minimizar el tiempo de atención y servicio a los clientes o usuarios que llegan en un determinado tiempo.

                    </p>
                </a>
            </article>
            <article class="section__article">
                <a href="{{url_for('sistemaInventario')}}">
                    <h2>Sistema de<br>inventario</h2>
                    <p class="parrafo">
                        El sistema de inventario es un conjunto de políticas, modelos, componentes, que organizados y
                        relacionados entre sí, nos permitan optimizar el costo de mantener el inventario.
                    </p>
                </a>
            </article>
    </main>
</body>
</html>


{% endblock %}
