{% extends "layout.html" %}

{% block title %}
<title>Regresión lineal</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %} 
<div class="container" style="max-width: 70% !important; ">
<legend class=" header h3 text-primary">Regresión lineal</legend>
<br>
	<div class="card">
		<form enctype="multipart/form-data" method="POST" action="{{url_for('calcularRegresionLineal')}}"><br>
			<div class="col-sm-12">
			 <div class="form-row">
					 <div class="col-md-6 mb-3">
							 <label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
						 
						 <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
						 <a class="btn btn-warning " style="margin-top: 10px;" href="{{url_for('static', filename='file/template2.xlsx')}}" role="button">Descargar plantilla</a>
						 
					 </div>				    
			 </div>
			 <small id="passwordHelpBlock" class="form-text text-muted" style="margin-bottom: 10px;">
				 El archivo Excel debe contener dos columnas, una columna <b>Cantidad</b>, por ejemplo: 100, 200, 300, y una columna <b>Produccion</b> que haga referencia al período en que se encuentra, por ejemplo: 40, 50, 60. Puede descargar la plantilla de ejemplo dando clic en el botón <b>Descargar plantilla</b>.
			 </small>
			 <button class="btn btn-primary" type="submit">Calcular</button>
		 </div>
	 </form><br> 
	</div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
    <legend class="text-left header">Gráfica</legend>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
	<legend class="text-left header">Tabla de resultados</legend>
    <a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
    <a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container" style="max-width: 70% !important; ">
    {{data|safe}}
</div>
{% endblock %}