{% extends "layout.html" %}

{% block title %}
<title>Sistema de inventario</title>
{% endblock %}
								
{% block content %} 
<div class="container" style="max-width: 70% !important; ">
<legend class="text-left header h3 text-primary">Sistema de inventario</legend><br>
<div class="container">
	<div class="card">
		<form method="POST" action="{{url_for('calcularSistemaInventario')}}"><br>
			<div class="container">
				<div class="form-row">
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01">Demanda</label>
					  	<input name="demanda" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					 	<label for="validationDefault02">Costo de ordenar</label>
					  	<input name="costoOrdenar" type="number" step="any" class="form-control" id="validationDefault02"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01">Costo de mantenimiento</label>
					 	<input name="costoMantenimiento" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault02">Costo del producto</label>
					  	<input name="costoProducto" type="number" step="any" class="form-control" id="validationDefault02"  required>
					</div>
					<div class="col-md-6 mb-3">
					 	<label for="validationDefault01">Tiempo de espera</label>
					  	<input name="tiempoEspera" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01">Días/Año</label>
					  	<input name="diasAno" type="number" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
                        <label for="validationDefault01">Número iteraciones</label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
				</div>
				<button class="btn btn-primary" type="submit">Calcular</button>
			</div>
		</form><br> 
	</div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
	<legend class="text-left header">Gráfica</legend>
	<div class="card">
		<center><img src="data:image/png;base64,{{ image }}"></center>
	</div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
  	<legend class="text-left header">Tabla de resultados</legend>
	{{data|safe}}
</div>

<div class="container" style="max-width: 70% !important; ">
  	<legend class="text-left header">Tabla de resultados</legend>
	{{data2|safe}}
</div>

<div class="container" style="max-width: 70% !important; ">
	<legend class="text-left header">Tabla de resultados</legend>
	<a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
	<a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container" style="max-width: 70% !important; ">
	{{data3|safe}}
</div>
{% endblock %}