{% extends "layout.html" %}

{% block title %}
<title>Media, Mediana y Moda</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}
  
{% block content %}
<div class="container" style="max-width: 70% !important; ">
<legend class=" header h3 text-primary">Media, mediana y moda</legend><br>
<div class="card">
    <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMediaModaMediana')}}"><br>
     <div class="col-sm-12">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="exampleFormControlFile1">Subir archivo para calcular (.xlsx)</label>
                    <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    </small>
                </div>              
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01">Nombre del campo a analizar:</label>
                    <input name="nombreColumna" type="text" class="form-control" id="validationDefault01"  required>
                </div>
                
            </div>    
            <button class="btn btn-primary" type="submit">Calcular</button>
        </div>
    </form><br> 
</div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
    <legend class="text-left header">Gráfica</legend>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<div class="container" style="max-width: 70% !important; ">
<legend class="text-left header">Tabla de resultados</legend>
    <a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
    <a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container" style="max-width: 70% !important; ">
    {{data|safe}}
</div>

<div class="container" style="max-width: 70% !important; ">
    {{data2|safe}}
</div>
{% endblock %}