<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
{% block title %}

{% endblock %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/coloresnav.css')}}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}">
<link rel="stylesheet" href="../static/css/footer.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">


</head>
<body>
  <header class="nav">
    <a href="/" class="nav_titulo">Modelamiento y simulación</a>
    <p>Tecnologías de la Información | Pablo Fabian Proaño Medina | Sexto "A"</p>
</header>

<nav role="navigation" class="primary-navigation">
    <ul>
      <li><a href="{{url_for('mediamm')}}">Estadística</a></li>
      <li><a href="#">Números aleatorios &dtrif;</a>
        <ul class="dropdown2">
          <li><a href="{{url_for('cuadradosMedios')}}">Cuadrados medios</a>  </li>
          <li><a href="{{url_for('congruencialLineal')}}">Congruencial lineal</a></li>
          <li><a href="{{url_for('congruencialMultiplicativo')}}">Congruencial multiplicativo</a></li>
        </ul>
      </li>
      <li><a href="#">Modelos de pronóstico &dtrif;</a>
        <ul class="dropdown">
          <li><a href="{{url_for('regresionLineal')}}">Regresión lineal</a></li>
          <li><a href="{{url_for('regresionLinealCuadrada')}}">Regresión lineal cuadrática</a></li>
          <li><a href="{{url_for('promedioMovil')}}">Promedio móvil</a></li>
          <li><a href="{{url_for('suavizacionExponencial')}}">Suavización exponencial</a></li>
        </ul>
      </li>
      <li><a href="#">Modelos de simulación &dtrif;</a>
        <ul class="dropdown">
          <li><a href="{{url_for('montecarlo')}}">Montecarlo</a></li>
          <li><a href="{{url_for('lineaEspera')}}">Línea de espera</a></li>
          <li><a href="{{url_for('sistemaInventario')}}">Sistema de inventario</a></li>
        </ul>
      </li>
    </ul>
  </nav>
<!---->
<!--
<nav class="navbar d-flex align-items-start fixed-top ">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="boton" style="color: #fff; position: fixed; right: 0; width: 100px;" ><i class="fas fa-bars"></i></button>
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Estadística 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('mediamm')}}">Media, Mediana, Moda</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Números aleatorios 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('cuadradosMedios')}}">Método de los cuadrados medios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('congruencialLineal')}}">Método congruencial lineal</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('congruencialMultiplicativo')}}">Método congruencial multiplicativo</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modelos de pronóstico
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('promedioMovil')}}">Promedio Móvil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('suavizacionExponencial')}}">Suavización Exponencial</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Regresiones 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('regresionLineal')}}">Regresión lineal</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('regresionLinealCuadrada')}}">Regresión lineal cuadrada</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modelos de simulación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('montecarlo')}}">Montecarlo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('lineaEspera')}}">Línea de espera</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('sistemaInventario')}}">Sistema de inventario</a>
            </div>
        </li>
    </ul>
</div>
</nav>
 -->
    
{% block content %}

{% endblock %}

<footer>
    <section class="footer__section">
        <p class="footer__paragraph">
            Página almacenada en
            <a id="link-one" class="footer__link" href="https://www.heroku.com" target="_blank" rel="noopener">
                Heroku
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 23 23" class="footer__icon" id="icon-one">
                    <path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>
                </svg>
            </a>
        <br>
            Diseñado con ♥ por
            <a id="link-two" class="footer__link" href="https://gitlab.com/pablofpm" target="_blank" rel="noopener">
                Pablo Proaño
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 23 23" class="footer__icon" id="icon-two">
                    <path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>
                </svg>
            </a>
        </p>
    </section>
</footer>



<!-- Optional JavaScript -->
    <script src="../static/js/main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>   

