{% extends "layout.html" %}

{% block title %}
<title>Montecarlo</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}
    
{% block content %} 

<div class="container" style="max-width: 70% !important; ">
    <legend class="text-left header h3 text-primary">Montecarlo</legend>
    <br>

    <div class="card">
        <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMontecarlo')}}"><br>
         <div class="col-sm-12">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
                        <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
                        <a class="btn btn-warning" style="margin-top: 10px;" href="{{url_for('static', filename='file/template4.xlsx')}}" role="button">Descargar plantilla</a>
                        
                    </div>  
                </div>
                    <small style="margin-bottom: 10px;" id="passwordHelpBlock" class="form-text text-muted">
                        El archivo Excel debe de contener dos columnas, una columna <b>X</b>, por ejemplo: 7.0, 4.0, 1.0, y una columna <b>Y</b> que haga referencia al período en que se encuentra, por ejemplo: 29.00, 29.37, 43.66. Puede descargar la plantilla de ejemplo dando clic en el botón <b>Descargar plantilla</b>.
                      </small>           
                
                <div class="form-row">
                  
                    <legend class="text-center header">Método congruencial lineal</legend><br>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Número iteraciones (n)</label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Semilla (X0)</label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Multiplicador (a)</label>
                        <input name="multiplicador" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02">Incremento (c)</label>
                        <input name="incremento" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01">Módulo (m)</label>
                        <input name="modulo" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                </div>    
                <button class="btn btn-primary" type="submit">Calcular</button>
            </div>
        </form><br> 
    </div>
</div><br>
{% endblock %}