{% extends "layout.html" %}

{% block title %}
<title>Promedio móvil</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %} 

<div class="container" style="max-width: 70% !important; ">
	<legend class=" header h3 text-primary">Promedio móvil</legend><br>
	<div class="card">
		<form enctype="multipart/form-data" method="POST" action="{{url_for('calcularPromedioMovil')}}"><br>
		 	<div class="col-sm-12">
				
				<div class="form-row">
				    <div class="col-md-6 mb-3">
				      	<label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
						  
    					<input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
    					<a class="btn btn-warning" href="{{url_for('static', filename='file/template.xlsx')}}" style="margin-top: 10px;" role="button">Descargar plantilla</a>
							
							
				    </div>				    
				</div>
				<small id="passwordHelpBlock" class="form-text text-muted" style="margin-bottom: 10px;">
					El archivo Excel debe de contener dos columnas, una columna <b>Período</b>, por ejemplo: 2016, 2017, 2018, y una columna <b>Promedio</b> que haga referencia al período en que se encuentra, por ejemplo: 5501.0, 6232.7, 8118.3. Puede descargar la plantilla de ejemplo dando clic en el botón <b>Descargar plantilla</b>.
				</small>
				<button class="btn btn-primary" type="submit">Calcular</button>
				
			</div>
		</form><br> 
	</div>
</div><br>
{% endblock %}